.pag {
    display: flex;
}
.button {
    background-color: #416c7cc7;
    margin: -4.8em;
    width: 2rem;
    border: none;
    border-radius: 20%;
    color:#000000;
    backdrop-filter: blur(.5rem);
}
.button:hover{
    background-color: #171f228f;
    color: white;
}
.button:focus {
    background-color: #70d2f35b;
    box-shadow: rgba(0, 27, 58, 0.473) 0px 0px 0px 3px;
}
@media (max-width: 800px) {
    .pag {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}