.filtros{
    display: flex;
}


.button{
    background-color: #729ba7;
    border: none;
    border-radius: 1rem;
    color:#000000;
    padding: .4rem;
    margin: 1rem;
}
.button:hover{
    background-color: #171f228f;
    color: white;
}
.textlink{
    color: inherit;
    text-decoration: inherit;
}
.select{
    background-color: #729ba7;
    border: none;
    border-radius: 1rem;
    color:#000000;
    padding: .4rem;
    margin: 1rem;
}
.select:hover{
    background-color: #171f228f;
    color: white;
}
@media (max-width: 800px) {
    .filtros{
        display: flex;
    }
    .span{
        display: none;
    }    
}
@media (max-width: 1200px) {
    .span{
        display: none;
    }    
}