.home{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}
.navBar{
    display: flex;
    background-color: #416c7cc7;
    backdrop-filter: blur(.5rem);
}

.cards {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: .5rem;
}
.paginado {
    display: flex;
    justify-content: space-evenly;
}
.links{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: auto;
}

@media (max-width: 800px) {
    .home{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
    }
    .navBar{
        display: flex;
        background-color: #416c7cc7;
        backdrop-filter: blur(.5rem);
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .cards {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         align-content: center;
    }
}