.contLanding{
    display: flex;
}
.landing{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    color: #2c6871;
    font-size: 2rem;
    margin-top: 4rem;
}
.image{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    height: 90%;
    margin-top: 2rem;
}



.button{
    background-color: #729ba700;
    border: none;
    border-radius: 1rem;
    color:#000000;
    font-size: 2.5rem;
    font-weight:600;
    color: #2c6871;
    margin-left: 15rem;
    margin-top: -1.9rem;
    text-align: end;
}
.button:hover{
    background-color: #729ba7;
    color: rgb(228, 250, 250);
}

@media (max-width: 800px) {
    .contLanding{
        display: flex;
        flex-direction: column;
    }
    .image{
        width: 80%;
        height: 80%;
        justify-content: flex-start;
        align-items: flex-start;
    }
}