.searchBar{
    display: flex;
}
.input{
    display: flex;
    margin: 1rem;
    width: 20rem;
    border: none;
    background-color: #aac4cd60;
    border-radius: 1rem;
    backdrop-filter: blur(.5rem);
    padding: .4rem;
}
.input:hover{
    background-color: #171f228f;
    color: white;
}